body{
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {

    padding: 10px;
    position: fixed;
    background-color: #9E1819;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 50%;
    top: 25%;
    right: 20px;
    z-index: 10;
    border-radius: 10px;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; */
}

.icon{
    width: 40px;
    height: 40px;
}

/* .footer{
    background-color: #9E1819;
    padding: 50px;
} */

body::-webkit-scrollbar {
    width: 5px;
    
}

body::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: #9E1819;
}

body::-webkit-scrollbar-thumb {
    background-color: #680f0f;
    /* background-color: #9E1819; */
    /* outline: 1px solid #9E1819; */
    /* outline: none; */
}
  